<div class="row">
  <div class="col-md-12 well">
    <div class="btn-group">
      <%= link_to "Edit my Profile", new_nonprofit_path, :class => 'btn btn-success' %>
      <%= link_to "Add a Nonprofit", new_nonprofit_path, :class => 'btn btn-success' %>
    </div>
  </div>
</div>