<div class="row">
  <div class="col-md-2 pull-right">
    <%= link_to "Add a Nonprofit", new_nonprofit_path, :class => 'btn btn-success' %>
  </div>
  <div class="col-md-2 pull-right">
    <%= link_to "Edit my Profile", new_nonprofit_path, :class => 'btn btn-success' %>
  </div>
</div>