<div class="row">
  <div class="col-md-2 pull-right">
    <%= link_to "Add your Nonprofit", new_nonprofit_path, :class => 'btn btn-success' %>
  </div>
  <div class="col-md-2 pull-right">
    <%= link_to "Create an Opportunity", new_nonprofit_path, :class => 'btn btn-success' %>
  </div>
</div>