<div class="jumbotron">
  <h1 class="text-center" id="center-stage">Dev4aCause</h1>
</div>

<% content_for :extra_footer do %>
  <script type="text/javascript">
    $("#center-stage").fadeIn("slow");
  </script>
<% end  %>